#Fabric
#ecdsa
django
django-debug-toolbar
django-audit-log
jsonfield
django-auth-ldap
djangorestframework
pyyaml
markdown
django-filter
simplejson
django-bower
django-pgjsonb==0.0.23
django-extensions==1.7.4
