upstream salts-dev-django {
        server unix:///var/run/uwsgi/#HOSTNAME#.sock;
}
upstream salts-dev-django-test {
        server unix:///var/run/uwsgi/salts-test.sock;
}

server {
	server_name salts-dev, #HOSTNAME#;
	charset     utf-8;

	client_max_body_size 75M;

	location /media  {
		alias #PROJECT_ROOT#/media;
	}

	location /static  {
		# for grafana dashboard
	        add_header Access-Control-Allow-Origin "*";
	        add_header Access-Control-Allow-Methods "GET, OPTIONS";
	        add_header Access-Control-Allow-Headers "origin, authorization, accept";

		alias #PROJECT_ROOT#/static;
	}

	location /test {
		uwsgi_pass salts-dev-django-test;
		include uwsgi_params;
	}

	location / {
        add_header Access-Control-Allow-Origin "*";
		uwsgi_pass salts-dev-django;
		include uwsgi_params;
	}

 	location /status {
		stub_status on;
 		access_log   off;
  		allow 217.174.98.237;
		allow 217.174.97.87;
		allow 172.16.0.0/16;
		allow 127.0.0.1;
  		deny all;
  	}

	location /ammo {
		alias /data/qa/ammo;
	}
}

server {
    listen 81;
	server_name salts-dev, #HOSTNAME#;
	charset     utf-8;

	client_max_body_size 75M;

	location /media  {
		alias #PROJECT_ROOT#/media;
	}

#	location /js  {
#		alias #PROJECT_ROOT#/js;
#	}

	location /static  {
		# for grafana dashboard
	        add_header Access-Control-Allow-Origin "*";
	        add_header Access-Control-Allow-Methods "GET, OPTIONS";
	        add_header Access-Control-Allow-Headers "origin, authorization, accept";

		alias #PROJECT_ROOT#/static;
	}

	location / {
		uwsgi_pass salts-dev-django-test;
		include uwsgi_params;
	}

}
