<html>
  <head><title>{{ title }}</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "bootstrap-table/dist/bootstrap-table.min.css" %}" rel="stylesheet" />
    <link href="{% static "salts/css/salts.css" %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "purl/purl.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-table/dist/bootstrap-table.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-table/src/extensions/key-events/bootstrap-table-key-events.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-table/dist/locale/bootstrap-table-ru-RU.js" %}"></script>
    {% block ext_static_files %}{% endblock %} 
  </head>
  <body>

  <header class="navbar navbar-static-top navbar-inverse">
      <div class="col-lg-12">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>  

      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="{% url 'test_results' %}">Результаты тестов</a>
          </li>
          <li>
            <a href="{% url 'tank_monitoring' %}">Танки</a>
          </li>
        </ul>  
        <p align="right">Хост: {{ host }}. БД: {{ name }}.</p>
      </nav>
  </header>

    <div class="col-lg-12">
      {% block container %}{% endblock %}
    </div>
    <script>
      {% block scripts_blk %}{% endblock %}
    </script>
  </body>
</html>

