<html>
  <head>
    {% block title_content %}{% endblock %}
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "bootstrap-table/dist/bootstrap-table.min.css" %}" rel="stylesheet" />
    <link href="{% static "x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" %}" rel="stylesheet" />
    <link href="{% static "salts/css/salts.css" %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "purl/purl.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-table/dist/bootstrap-table.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-table/src/extensions/key-events/bootstrap-table-key-events.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-table/dist/extensions/i18n-enhance/bootstrap-table-i18n-enhance.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-table/dist/locale/bootstrap-table-en-US.min.js" %}"></script>
    <script type="text/javascript" src="{% static "x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js" %}"></script>
    <script type="text/javascript" src="{% static "salts/js/dict.js" %}"></script>
    <script type="text/javascript" src="{% static "salts/js/salts.js" %}"></script>
    {% block ext_static_files %}{% endblock %} 
  </head>
  <body>

  <header class="navbar navbar-static-top navbar-inverse">
      <div class="col-lg-12">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>  

      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            {% if is_superuser or is_staff %}
				<a href="{% url 'run_test' %}" name=run></a>
            {% endif %}
          </li>
          <li>
			<a href="{% url 'test_results' %}" name=results></a>
          </li>
          <li>
			<a href="{% url 'tank_monitoring' %}" name=tanks></a>
          </li>
          <li>
            {% if is_superuser or is_staff %}
              <a href="{% url 'admin:index' %}" name=cms></a>
            {% endif %}
          </li>
        </ul>  
        <!-- <p align="right">Хост: {{ host }}. БД: {{ name }}.</p> -->
        {% if username %}
          <div align="right" name="user-mgr-auth">
			  <p name="user-label" style="color:white">{{ username }}</p>
            <a name=exit-link style="color:grey" href="{% url 'logout' %}"></a>
          </div>
        {% endif %}
      </nav>
  </header>

    <div class="col-lg-12">
      {% block container %}{% endblock %}
    </div>
    <script>
	  function menuChangeLocale() {
		var navItems = $(".nav a");
		$.each(navItems, function() {
			var opt = $(this).attr("name");
			$(this).text(Lang.tr.menu[opt]);
		});
		var divAuth = $("div[name=user-mgr-auth]");
		if (divAuth.size()) {
			var username = $("p[name=user-label]").text();
			divAuth.find("p[name=user-label]").text(Lang.tr.auth.user_label +
													": " + username);
			divAuth.find("a[name=exit-link]").text(Lang.tr.auth.exit);
		}
	  }
      {% block scripts_blk %}{% endblock %}
    </script>
  </body>
</html>

