{% extends "base.html" %}
{% block ext_static_files %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "dygraphs/dygraph.js" %}"></script>
    <script type="text/javascript" src="{% static "dygraphs/extras/unzoom.js" %}"></script>
    <script type="text/javascript" src="{% static "dygraphs/plugins/legend.js" %}"></script>
    <script type="text/javascript" src="{% static "moment/min/moment.min.js" %}"></script>
{% endblock ext_static_files %}
{% block container %}
  <table>
    <tr width=95%>
      <td width=95%>
        <p id="linker"></p>
        <div id="roll" style="width:95%; height:400px;"></div>  
      </td>
      <td valign=top>
        <div id="status" style="width:200px; font-size:0.8em; padding-top:15px;"></div>
      </td>
    </tr></table>
{% endblock container %}
{% block scripts_blk %}
                var chartData = [];

                //chartData = generateChartData();  
                //drawGraph(chartData);
            
                var xmlhttp = new XMLHttpRequest();
            
                var get_args = location.search;
                var default_args = "&sort=dt_finish&order=desc&offset=0";
                if (get_args.length == 0) {
                    default_args = "?sort=dt_finish&order=desc&offset=0";
                }
                var url = "/get_results/" + get_args + default_args;
            
                var a = document.createElement('a');
                var linkText = document.createTextNode("Результаты тестов");
                a.appendChild(linkText);
                a.title = "Хорошие результатики";
                var res_url = "/results/" + get_args;
                a.href = res_url;
                //document.body.appendChild(a);
            
                var parent = document.getElementById("linker");      
                parent.appendChild(a);

                xmlhttp.onreadystatechange = function() {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        var myArr = JSON.parse(xmlhttp.responseText);

                        chartData = prepareJSON(myArr);
                        drawGraph(chartData);
                    }
                };
            
                xmlhttp.open("GET", url, true);
                xmlhttp.send();
            
                function prepareJSON(arr) {
                    var locarr = arr["rows"];
                    var rpsarr = [];
                    
                    console.log(locarr[0]["dt_finish"]);

                    date_time = locarr[0]["dt_finish"].split(',').join('T') + 'Z';

                    dt = new Date(date_time);
                    mt = moment(date_time);
                    console.log(mt.toDate().toDateString());

                    for (var i = 0; i < locarr.length; i++) {
                        if ( locarr[i]["comment"] == "" ) {
                            locarr[i]["comment"] = "-";
                        }
                        rpsarr.push([
                            moment(locarr[i]["dt_finish"]).toDate(),
                            locarr[i]["q99"],
                            locarr[i]["q90"],
                            locarr[i]["q50"],
                            locarr[i]["test_name"],
                            locarr[i]["scenario_id"],
                            locarr[i]["comment"]
                        ]);
                    }
                    
                    rpsarr.sort(function(a,b){
                        return a[0] - b[0];
                    });
                        
                    return rpsarr;
                }
                                                      
                function legendFormatter(data) {
                  if (data.x == null) {
                    // This happens when there's no selection and {legend: 'always'} is set.
                    return '<br>' + data.series.map(function(series) { return series.dashHTML + ' ' + series.labelHTML }).join('<br>');
                  }

                  var html = this.getLabels()[0] + ': ' + data.xHTML;
                  data.series.forEach(function(series) {
                    
                    var labeledData = series.labelHTML + ': ' + series.yHTML;
                    if (!series.isVisible) {
                        labeledData = series.labelHTML + ': ' + series.y;
                    }

                    if (series.isHighlighted) {
                      labeledData = '<b>' + labeledData + '</b>';
                    }
                    html += '<br>' + series.dashHTML + ' ' + labeledData;

                    //console.log(series);
                  });
                  return html;
                }

                function drawGraph(data) {
                    console.log(data);             
                
                    g = new Dygraph(
                        document.getElementById("roll"),
                        chartData,
                        {
                            labelsDiv: document.getElementById('status'),
                            labelsSeparateLines: true,
                            labelsKMB: false,
                            rollPeriod: 1,
                            showRoller: true,   
                            animatedZooms: true,
                            // customBars: true,
                            title: 'Квантили времён отклика в нагрузочных тестах',
                            ylabel: 'milliseconds',
                            labels: ["date", "quantile 99", "quantile 90", "quantile 50", "test_name", "scid", "comment"],
                            legend: 'always',
                            labelsDivStyles: { 'textAlign': 'left', 'textValign': 'top'},

                            legendFormatter: legendFormatter,
                            
                            axisLineColor: 'white',  
                            series : {
                                'test_name': { axis: 'y2', strokeWidth: 0, strokeBorderWidth: 0 },
                                'scid': { axis: 'y2', strokeWidth: 0, strokeBorderWidth: 0 },
                                'comment': { axis: 'y2', strokeWidth: 0, strokeBorderWidth: 0 }
                            },

                            xLabelHeight: 26,
                            yLabelWidth: 16,
                            yRangePad: 5,
                            xRangePad: 5,

                            axes: {
                                y1: {
                                    yAxisLabelWidth: 70,
                                    drawAxis: true
                                },
                                y2: {
                                    valueRange: [0, 0],
                                    drawAxis: false,
                                },
                            },

                            colors: ["rgb(70,220,110)", "rgb(51,204,204)", "rgb(240,200,100)", "rgb(255,255,255)", "rgb(255,255,255)", "rgb(255,255,255)"],
                            visibility: [true, true, true, true, true, true],
                                                      
                            // Set the plug-ins in the options.
                            plugins : [
                                Dygraph.Plugins.Unzoom,
                                Dygraph.Plugins.Legend
                            ]
                        }
                    );
                }
            
                // generate some random data, quite different range
                function generateChartData() {
                    var firstDate = new Date();
                    firstDate.setDate(firstDate.getDate() - 1);
                    
                    var localData = [];

                    for (var i = 0; i < 3600 * 24; i++) {
                        // we create date objects here. In your data, you can have date strings
                        // and then set format of your dates using chart.dataDateFormat property,
                        // however when possible, use date objects, as this will speed up chart rendering.
                        var timeStamp = new Date(firstDate);
                        timeStamp.setUTCSeconds(timeStamp.getUTCSeconds() + i);

                        var values_1 = Math.round(Math.random() * 40) - 20;
                        
                        var values_2 = values_1 + Math.sign(Math.random()) * 5;
                
                        localData.push([
                            timeStamp,
                            values_1,
                            values_2
                        ]);
                    }
                    
                    console.log(localData);
                    
                    return localData;
                }                                     
{% endblock scripts_blk %}
