{% extends "base.html" %}
{% block title_content %}
  <title></title>
{% endblock title_content %}
{% block ext_static_files %}
  {% load staticfiles %}
  <link href="{% static "salts/css/ltconfigeditor.css" %}" rel="stylesheet" />
  <script type="text/javascript" src="{% static "salts/js/ltselectschedule.js" %}"></script>
  <script type="text/javascript" src="{% static "salts/js/ltconfigeditor.js" %}"></script>
  <script type="text/javascript" src="{% static "moment/min/moment.min.js" %}"></script>
{% endblock ext_static_files %}
{% block container %}

	<div id="run-table-toolbar">
		<h3 class="salts-table-title"></h3>
	</div>
	<table id="run-table"
		data-toggle="table"
		data-height="150"
		data-toolbar="#run-table-toolbar"
		data-row-style="row_style"
		data-pagination="false"
		data-row-style="row_style"
		data-sort-name="id"
		data-sort-order="asc"
		data-show-columns="true"
		data-resizable="true"
		data-key-events="true"
		data-unique-id="shooting_id"
		data-search="false">
		<thead class="bs-tbl-title"><tr>
			<th class="col-sm-1" data-field="shooting_id" data-sortable="true"
			  data-visible="false"></th>
			<th class="col-sm-1" data-field="id" data-sortable="true"
			  data-visible="true"></th>
			<th class="col-sm-2" data-field="test_name"
				data-formatter="test_name_formatter"></th>
			<th class="col-sm-2" data-field="tank_host"></th>
			<th class="col-sm-2" data-field="action"
				data-formatter="action_formatter"></th>
			<th class="col-sm-2" data-field="status"
				data-formatter="statusFormatter"></th>
		</tr></thead>
	</table>

	<p id="linker" align="right"></p>
	<div id="avail-table-toolbar">
		<h3 class="salts-table-title"></h3>
	</div>
	<table id="avail-table"
		data-toggle="table"
		data-url="/run?a=1"
		data-height="800"
		data-toolbar="#avail-table-toolbar"
		data-row-style="row_style"
		data-side-pagination="server"
		data-pagination="true"
		data-page-list="[10, 20, 50, All]"
		data-row-style="row_style"
		data-sort-name="id"
		data-sort-order="asc"
		data-resizable="true"
		data-key-events="true"
		data-ajax="ajax_request"
		data-unique-id="id"
		data-search="false">
		<thead class="bs-tbl-title"><tr>
			<th class="col-sm-1" data-field="id" data-sortable="true"
				data-visible="true"></th>
			<th class="col-sm-2" data-field="test_name"
				data-formatter="test_name_formatter"></th>
			<th class="col-sm-2" data-field="tank_host"
				data-formatter="availTankHostFormatter"></th>
			<th class="col-sm-2" data-field="action"
				data-formatter="action_formatter"></th>
			<th class="col-sm-2" data-field="status"
				data-formatter="statusFormatter"></th>
        </tr></thead>
	</table>
	<script type="text/javascript" src="{% static "salts/js/runtest.js" %}"></script>
{% endblock container %}
