{% extends "base.html" %}
{% block container %}
  <h1>Мониторинг танков:</h1>
  <p id="linker" align="right"></p>
  <table id="table"
         data-toggle="table"
         data-url="/get_tank_status/"
         data-height="800"
         data-side-pagination="server"
         data-pagination="true"
         data-page-list="[10, 20, 50, All]"
         data-row-style="row_style"
         data-sort-name="name"
         data-sort-order="desc"
         data-show-columns="true"
         data-resizable="true"
         data-key-events="true"
         data-ajax="ajax_request"
         data-search="false">
      <thead style="background-color: Bisque">
        <tr>
          <th class="col-sm-1" data-field="id" title="ID">ID</th>
          <th class="col-sm-2" data-field="host" data-sortable="true" title="Имя">Имя</th>
          <th class="col-sm-2" data-field="scenario" title="Сценарий">Сценарий</th>
          <th class="col-sm-2" data-field="status" data-formatter="status_formatter" 
              title="Статус">Статус</th>
          <th class="col-sm-3" data-field="countdown"
              data-formatter="countdown_formatter"
              data-events="operateEvents" title="Осталось">Осталось</th>
        </tr>
      </thead>
  </table>
{% endblock container %}
{% block scripts_blk %}
  function ajax_request(params) {
    var resp = $.ajax(params);       
  }

  function status_formatter(st) {
    var status_values = {
      'P': 'Готовится к старту',
      'R': 'Выполняется',
      'I': 'Прерван',
      'F': 'Закончен'
    }
    return status_values[st];
  }


  function countdown_formatter(v, row, index) { 
    return remainedTime(v, row, index);
  }


  function checkTime(i) {
    if (i < 10) {
      i = "0" + i;
    }
    return i;
  }
  
  function remainedTime(sec_num, row, index, n=0) {
    if (sec_num < 0)
      sec_num = 0;
    var hours = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = Math.floor(sec_num - (hours * 3600) - (minutes * 60));
    h = checkTime(hours);
    m = checkTime(minutes);
    s = checkTime(seconds);
    var time_line = h + ':' + m + ':' + s;

    var td = $("#table tbody tr:nth-child(" + (index+1) + ") td");
    if ($(td).size() > 1) {
      $($(td).get(3)).html(status_formatter(row['status']));
      $($(td).get(4)).html(time_line);
      if (row['status'] == 'R')
        sec_num -= 0.5;
      if ($.inArray(row['status'], ['I', 'F']) >= 0)
        return '';
    } 
    if (n > 0 && !(n % 10)) {
      $.ajax({
        url: "/get_tank_status/?tank_id=" + row['id'],
        type: "GET",
        dataType: "json",
        data: {},
        error: function(json) {},
        success: function(json) {
          resp = json['rows'][0];
          sec_num = resp['countdown'];
          row['status'] = resp['status'];
          remainedTime(sec_num, row, index, n+1)
        }
      });
    }
    else {
      setTimeout(function () {
        remainedTime(sec_num, row, index, n+1)
      }, 500);
    }
    return time_line;
  }
{% endblock scripts_blk %}
