{% extends "base.html" %}
{% block title_content %}
  <title></title>
{% endblock title_content %}
{% block ext_static_files %}
	{% load staticfiles %}
{% endblock ext_static_files %}
{% block container %}
  <p id="linker" align="right"></p>
  <div id="monitoring-table-toolbar">
	<h3 class="salts-table-title"></h3>
  </div>
  <table id="table"
         data-toggle="table"
         data-url="/get_tank_status/"
         data-height="800"
		 data-toolbar="#monitoring-table-toolbar"
         data-row-style="row_style"
         data-side-pagination="server"
         data-pagination="true"
         data-page-list="[10, 20, 50, All]"
         data-row-style="row_style"
         data-sort-name="id"
         data-sort-order="asc"
         data-show-columns="true"
         data-resizable="true"
         data-key-events="true"
         data-ajax="ajax_request"
         data-search="false">
      <thead class="bs-tbl-title">
        <tr>
          <th class="col-sm-1" data-field="id" data-sortable="true"
              data-visible="true"></th>
          <th class="col-sm-2" data-field="host"></th>
          <th class="col-sm-2" data-field="username"></th>
          <th class="col-sm-2" data-field="scenario_name"
              data-formatter="scenario_name_formatter"></th>
          <th class="col-sm-2" data-field="status"
              data-formatter="status_formatter"></th>
          <th class="col-sm-3" data-field="countdown"
              data-formatter="countdown_formatter"></th>
          <th class="col-sm-3" data-field="ticket_url"
              data-formatter="ticket_url_formatter"></th>
          <th class="col-sm-3" data-field="webconsole"
              data-formatter="webconsole_formatter"></th>
          <th class="col-sm-3" data-field="test_result"
              data-formatter="test_result_formatter"></th>
        </tr>
      </thead>
  </table>
  <script type="text/javascript" src="{% static "salts/js/tankmonitoring.js" %}"></script>
{% endblock container %}
