{% extends "base.html" %}
{% block container %}
  <style>
    .odd {
      background-color: GainsBoro;
    }
  </style>
  <h1>Результаты тестов:</h1>
  <a href="https://wiki.ptnik.su/pages/viewpage.action?pageId=27040006" target="_blank">Справка</a>
  <table id="table"
         data-toggle="table"
         data-url="/get_results"
         data-height="800"
         data-side-pagination="server"
         data-pagination="true"
         data-page-list="[10, 20, 50, All]"
         data-row-style="row_style"
         data-sort-name="dt_finish"
         data-sort-order="desc"
         data-show-columns="true"
         data-resizable="true"
         data-search="false">
      <thead style="background-color: Bisque">
      <tr>
          <th data-field="test_name" data-sortable="true">Тест</th>
          <th data-field="scenario_id" data-sortable="true" data-visible="false">ID сценария</th>
          <th data-field="target" data-sortable="true">Target</th>
          <th data-field="version" data-sortable="true">Версия</th>
          <th data-field="rps" data-sortable="true">RPS</th>
          <th data-field="q99" data-sortable="true">99%</th>
          <th data-field="q90" data-sortable="true">90%</th>
          <th data-field="q50" data-sortable="true">50%</th>
          <th data-field="http_net">% ошибок http/net</th>
          <th data-field="duration" data-sortable="true">Длительность</th>
          <th data-field="dt_finish" data-sortable="true">Время окончания</th>
          <th data-field="graph_url" data-formatter="graph_url_formatter">График</th>
          <th data-field="generator" data-sortable="true">Генератор</th>
          <th data-field="gen_type_list" data-sortable="true">Тип генератора</th>
          <th data-field="test_id" data-sortable="true">ID теста</th>
          <th data-field="ticket_id" data-sortable="true" data-formatter="ticket_id_formatter">Задача</th>
      </tr>
      </thead>
  </table>
  <script>
      var $table = $('#table');

      $(function () {
        var url = $table.attr("data-url");
        var params = $.url().param();
        if (Object.keys(params).length > 0) {
          $table.attr("data-url", url + "?" + $.param(params));
        }
      });

      function graph_url_formatter(value) {
        if (value === "") {
          return "-";
        }
        return "<a href='" + value + "'>График</a>";
      }

      function ticket_id_formatter(value) {
        if (value === "") {
          return "-";
        }
        return "<a href=https://task.ptnik.su/browse/" + value + ">" + value + "</a>";
      }

      function row_style(row, index) {
        if (index % 2 === 0) {
          return {};
        }
        return {classes: "odd"};
      }
  </script>
{% endblock container %}

