{% extends "base.html" %}
{% block title_content %}
  <title></title>
{% endblock title_content %}
{% block container %}
  <p id="linker" align="right"></p>
  <div id="results-table-toolbar">
	<h3 class="salts-table-title"></h3>
	<a href="https://wiki.ptnik.su/pages/viewpage.action?pageId=27040006" target="_blank" name=help></a>
  </div>
  <table id="table"
         data-toggle="table"
         data-url="/get_results/"
         data-height="800"
         data-side-pagination="server"
         data-pagination="true"
         data-page-list="[10, 20, 50, All]"
         data-row-style="row_style"
         data-sort-name="dt_finish"
         data-sort-order="desc"
         data-show-columns="true"
         data-resizable="true"
         data-key-events="true"
         data-ajax="ajax_request"
         data-search="false">
      <thead style="background-color: Bisque">
        <tr>
          <th data-field="id" data-visible="false"></th>
          <th data-field="test_name" data-sortable="true" data-formatter="test_name_formatter"></th>
          <th data-field="user" data-sortable="true"></th>
          <th data-field="test_status" data-sortable="true" data-formatter="test_status_formatter"></th>
          <th data-field="scenario_id" data-sortable="true" data-visible="false"></th>
          <th data-field="target" data-sortable="true"></th>
          <th data-field="version" data-sortable="true"></th>
          <th data-field="rps" data-sortable="true"></th>
          <th data-field="q99" data-sortable="true"></th>
          <th data-field="q90" data-sortable="true"></th>
          <th data-field="q50" data-sortable="true"></th>
          <th data-field="http_net"></th>
          <th data-field="duration" data-sortable="true"></th>
          <th data-field="dt_finish" data-sortable="true"></th>
          <th data-field="graph_url" data-formatter="graph_url_formatter"></th>
          <th data-field="generator" data-sortable="true"></th>
          <th data-field="test_id" data-visible="false" data-sortable="true"></th>
          <th data-field="ticket_id" data-sortable="true" data-formatter="ticket_id_formatter"></th>
          <th data-field="comment"></th>
      </tr>
      </thead>
  </table>
  <script>
	$(document).ready(function() {
		menuChangeLocale();
		$("title").text("SALTS: " + Lang.tr.results_page.title);
		var $toolbar = $("div#results-table-toolbar");
		$toolbar.find("h3").text(Lang.tr.results_page.table.title);
		$toolbar.find("a[name=help]").text(Lang.tr.results_page.help);
		var $tbl = $("#table");
		$tbl.bootstrapTable("changeLocale", Lang.current);
		$tbl.bootstrapTable("changeTitle", Lang.tr.results_page.table.columns);
	});
  </script>
{% endblock container %}
{% block scripts_blk %}
    get_args = location.search;
    var a = document.createElement('a');
    var linkText = document.createTextNode(Lang.tr.results_page.dynamics.link);
    a.appendChild(linkText);
    a.title = Lang.tr.results_page.dynamics.title;
    a.href = "/results/graph/" + get_args;    
    var parent = document.getElementById("linker");      
    parent.appendChild(a);      
      
    var $table = $('.table');

    function edit_page_url(edit_url, id) {
      return window.location.protocol + "//" + window.location.host + edit_url + id;
    }

    function ajax_request(params) {
      var url_param = $.url().param();
      for (name in url_param) {
        if (!params.data.hasOwnProperty(name)) {
          params.data[name] = url_param[name];
        }
      }
      if ('cc' in url_param && url_param['cc'] === '0') {
        params.cache = false;
      }
      $.ajax(params);        
    }

    function graph_url_formatter(value) {
      if (value === "") {
        return "-";
      }
	  var aItem = "<a href='{link}'>{desc}</a>";
	  aItem = aItem.replace("{link}", value);
	  aItem = aItem.replace("{desc}", Lang.tr.results_page.table.columns.graph_url);
	  return aItem
    }

    function ticket_id_formatter(value) {
      if (value === "") {
        return "-";
      }
      return "<a href='https://task.ptnik.su/browse/" + value + "' target='_blank'>" + value + "</a>";
    }

    function test_name_formatter(value, row) {
      if (value === '') {
        return '-';
      }
      if (row['edit_url'] === '') {
        return value;
      }
      return "<a href='" + edit_page_url(row['edit_url'], row['id']) + "'>" + value + "</a>";
    }

    function test_status_formatter(value, row) {
      var human_values = {
        unk: "Unknown",
        dbg: "Debug",
        pass: "Pass",
        fail: "Fail"
      };
      return human_values[value];
    }

    function row_style(row, index) {
      var css_status_classes = { 
        unk: "unk", 
        dbg: "debug",
        fail: "failed",
        pass: "success"
      };
      if (index % 2 === 0) {
        return {classes: css_status_classes[row["test_status"]] + "_even"};
      }
      return {classes: css_status_classes[row["test_status"]] + "_odd"};
    }
    $('#table').bootstrapTable({
      onDblClickRow: function (row, $element) {
        if (row['edit_url'] === '') {
          return;
        }
        window.open(edit_page_url(row['edit_url'], row['id']));
      }
    });
{% endblock scripts_blk %}
